aside.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1A1A1A;
    height: 100%;
    width: 100%;
}

aside.logo img {
    width: 100%;  
    padding: 0 15px;
}   