aside.menu-area {
    background: linear-gradient(0deg, rgba(79,78,78,1) 0%, rgba(36,36,36,1) 57%, rgba(26,26,26,1) 100%);
    box-shadow: 2px 0 10px 0 rgba(0, 0, 0, 0.12),
                2px 0 15px 0 rgba(0, 0, 0, 0.09);
}

.menu a {
    display: block;
    text-decoration: none;
    color: gainsboro;
    font-weight: 300;
    padding: 16px;
}

.menu a:hover {
    color: #FFF ;
    background: linear-gradient(90deg, rgba(27,32,26,1) 23%, rgba(20,91,21,1) 57%, rgba(21,156,0,1) 100%);
}
